.image-container{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}
img{
    width:100%;
    height: auto;
}

.contact-page-outer{
    height: auto;
    width: 100%;
    position: relative;
}

#contact-page-title{
    position: absolute;
    font-size: 45px;
    color: white;
    font-weight: bolder;
    text-shadow: 3px 3px black;
    top: 150px;
    left: 30px;
}

/* --------CONTACT FORM SELECTION --------*/
.contact-page-selection{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px yellow; */
    padding: 70px 0;
}

.contact-page-buttons-outer{
    width: 100%;
    height: auto;
    display: flex;
    /* border: solid 1px yellow; */
    padding: 0 15%;
    gap: 20px;
}

.contact-page-buttons{
    width: 100%;
    height: auto;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.contact-page-buttons-icon{
    /* height: auto;
    width: 100%; */
    height: 150px;
    width:150px;
    max-width: 150px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-shrink: 1;
    /* border: solid 1px red; */

}

.contact-page-buttons-icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

#icon-gluten, #icon-work, #icon-phone{
    height: auto;
    width: 100%;
    cursor: pointer;
}

.contact-page-buttons-text{
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
    font-size: 18px;
    text-align: center;
}

.contact-page-buttons-text-title{
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

/* -------- CONTACT FORM INFO--------*/
.contact-form-outer{
    display: flex;
    flex-grow: 1;
    /* border: solid 1px red;  */
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding: 20px 75px;
}

.contact-form-info-outer{
    display: flex;
    width: 100%;
    /* border: solid 1px blue; */
    justify-content: center;
}
.contact-form-info-text{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 500px;
    /* width: 30%; */
    border: solid 3px green;
    background: #ebeaea;
    padding: 30px;
    border-radius: 5px;
}

.contact-form-info-text h1{
    padding: 20px 0;
    font-size: 25px;
    font-weight: bolder;
}

.contact-form-info-text h2{
    padding: 15px 0;
    font-size: 20px;
    font-weight: bolder;
}

.contact-form-info-text p{
    padding: 15px 0;
    font-size: 18px; 

}

/* -------- CONTACT FORM --------*/
.contact-form-inner{
    width: 100%;
    height: auto;
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    /* margin: 50px; */
}
.contact-form-inner form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid 1px blueviolet; */

}

.contact-form-inner form select{
    width: 600px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

form select option[disabled]{
    color: grey !important;
    background-color: #f5f5f5;
}

.contact-form-inner form input[type=text],
.contact-form-inner form input[type="email"],
.contact-form-inner form input[type="number"],
.contact-form-inner form input[type=submit]{
    width: 600px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.contact-form-fullname{
    display: flex;
    width: 600px;
    /* border: solid 1px black; */
    gap: 5px;
    margin-top: 0px;
}

.contact-form-inner form textarea{
    width: 600px;
    height: auto;
    min-height: 150px;
    padding: 10px;
    margin: 5px 0;
    font-size: 20px;
}

.contact-form-inner form input[type=submit]{
    background: green;
    border: 2px solid grey;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

/*------- CONTACT FORM OPTIONS CHANGES -------*/
.gluten-free-active, .work-with-us-active, .customer-service-active{
    display: none;
}

.gluten-product-active{
    display: none;
    width: 100%;
    max-width: 600px;
    /* border: 1px solid green; */
}

/* Work option selected */
.work-with-us-active{
    max-width: 600px;
    width: 100%;
}

.form-attachment{
    display: flex;
    font-size: 20px;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    gap: 30px;
}

.contact-form-inner form input[type=file]{
font-size: 20px;
}


/* -----CONTACT FORM errors----- */

.name-error, .email-error, .phone-error, .work-error{
    display: flex;
    display: none;
    max-width: 600px;
    flex-direction: column;
    border: 2px #b22222 solid;
    background: #ffe4e4;
    color: #d32f2f;
    padding: 10px;
    margin-bottom: 10px;
    gap: 5px;
}

.first-error{
    display: none;
}

.second-error{
    display: none;
}

.name-error h1, .email-error h1, .phone-error h1, .work-error h1{
    font-weight: bolder;
    font-size: 18px;
}