*{
    margin:0; 
    font-family:roboto;
    box-sizing: border-box;

}

html, body{
   width: 100%;
   height: auto;
}

#wrapper{
    width: 100%;
    min-height: 100%;
}

.nav-bar-outer{
    min-height: 80px;
    height: auto;
    width: 100%;
    background:#f5f4f4;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

/*--------NAV-BAR--------*/
.nav-bar{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-pages{
    display: flex;
    justify-content: flex-end;
    flex-shrink: 1;
    margin-top: 5px;
}

.nav-pages-icon{
    width: 180px;
    height: auto;
}

.nav-bar ul{
    padding: 0; 
}

.nav-pages li{
    list-style-type: none;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.nav-bar a{
    text-decoration: none;
    font-size: 16px;
    text-wrap: nowrap;
    color: green;
}

.narrow-nav-bar{
    display: none;
}

/* --------900px view-------- */
@media only screen and (max-width: 900px){
    .nav-bar-outer{
        padding: 0 20px;
    }
    .nav-bar{
        gap: 20px;
    }
    .nav-bar a{
        font-size: 14px;
    }
}

/*--------Smartphone view--------*/
@media only screen and (max-width: 720px){
    .nav-bar{
        display: none;
    }

    .nav-bar-outer{
        padding: 0;
    }

    .narrow-nav-bar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .narrow-nav-bar-initial{
        display: flex;
        height: auto;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px;
        gap: 20px;
        margin-left: 20px;
    }
    
    #narrow-nav-bar-drop-down-closed{
        font-size: 25px;
        cursor: pointer;
    }

    .nav-pages-icon{
        /*introduce a way to make it go in the middle*/
        padding: 20px 0;
    }

    .narrow-nav-pages{
        display: none;
        border-top: 1px solid black;
        width: 100%;
        z-index: 100;
        padding: 0;
        padding-bottom: 40px;
        background:#f5f4f4;
    }

    .narrow-nav-items{
        list-style-type: none;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 40px;
        padding-top: 40px;
    }
    
    .narrow-nav-bar a{
        text-decoration: none;
        font-size: 25px;
        text-wrap: nowrap;
        color: green;
    }
}

