.gluten-free-body{
    padding: 40px;
    max-width: 100%;
}

.gluten-free-body-title{
    /* border: 1px yellow solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 150px;
}

.buttons-outer{
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-bottom: 60px;
    flex-wrap:wrap;

}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    gap: 5px;
    padding: 5px;
    background: green;
    color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.icon-outer{
    background: green;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    
}
#community-icon,
#coeliac-icon,
#actions-icon,
#external-icon{
    width: 120px;
    height: 120px;
}

.button-title{
    text-wrap: nowrap;
}

h2{
    font-size: 36px;
}
h3{
    font-size: 30px;
}

p, li, a{
    font-size: 20px;
}

.commitment-outer .commitment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5f7e5;
    padding: 20px;
    border-radius: 5px;
    gap: 40px;
}

.commitment-text-outer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.5;
    padding: 20px;
}

.commitment-image{
    height: auto;
    width: 400px;
    overflow: hidden;
    flex-shrink: 0;
    border: 2px solid black;
    border-radius: 5px;
}

#coeliac-text,
#actions-text{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

.external-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#external-links{
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px;


}
#external-links li{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid grey;
    background: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
