/* smartphone view 0-480px */
@media only screen and (max-width: 480px){
/* -------OVERALL------- */
/* HEADER */
    .header-image{
        height: 150px;
    }

    .page-title{
        font-size: 25px;
        top: 80%;
        left: 20px;
    }

/* FOOTER */

.footer-nav{
    padding: 20px;
    gap: 0px;
}
.footer-icons-outer{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-icons{
    height: 25px;
    width: 25px;
    flex-shrink: 0;
}

.footer-nav-map{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.list-right,
.list-left{
    justify-content: center;
}

.footer-nav-list a{
    font-size: 14px;
}

.footer-end p{
    font-size: 14px;
}

#footer-logo{
    width: 200px;
}

/* -------CONTACT US PAGE------- */

    /* HEADER */
    #contact-image-fullscreen{
        display: none;
    }

    #contact-image-phonescreen{
        display:block;
    }

    /* icons */
    .contact-page-selection{
        /* border: black 1px solid; */
        margin: 40px 0;
        padding: 0;
    }

    .contact-page-buttons-outer{
        /* border: pink 1px solid; */
        flex-direction: column;
        padding: 0;
        gap: 40px;
    }

    .contact-page-buttons{
        /* border: 1px solid yellow; */
        flex-direction: row;
        padding: 0 20px;
        gap: 20px;
    }

    .contact-page-buttons-icon{
        /* border: 1px solid blue; */
        padding: 0;
        height: auto;
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    #icon-phone, #icon-work, #icon-gluten{
        height: 50px;
        width: 50px;
    }

    .contact-page-buttons-text{
        /* border: 1px solid purple; */
        width: 100%;
        padding: 0;
        font-size: 14px;
        align-items: flex-start;
        text-align: start;
    }
    .contact-page-buttons-text-title{
        font-size: 16px;
        padding: 0;
    }

    /* Contact details */

    .contact-form-outer{
        flex-direction: column;
        padding: 20px;
    }

    .contact-form-info-text{
        width: 100%;
        padding: 10px;
        padding-bottom: 0px;
        margin-bottom: 40px;
    }

    .contact-form-info-text h1{
        padding: 0;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .contact-form-info-text h2{
        padding: 0;
        padding-bottom: 10px;
        font-size: 18px;
    }
    .contact-form-info-text p{
        padding: 0;
        padding-bottom: 10px;
        font-size: 14px;
    }

    /* Contact form */
    .contact-form-inner{
        width: 100%;
    }
    
    #contact-form input,
    #contact-form select,
    #contact-form textarea,
    #contact-form label{
        font-size: 14px;
    }
    
    .name-error h1,
    .email-error h1,
    .phone-error h1,
    .work-error h1,
    .textarea-error h1{
        font-size: 14px;
    }

    .second-error p,
    .second-error li{
        font-size: 13px;
    }




    /* -------OUR COMMITMENTS PAGE------ */
    .gluten-free-body{
        padding: 10px;
        padding-bottom: 40px;
    }
    .gluten-free-body-title{
        padding: 10px;
        margin-bottom: 30px;
    }

    .gluten-free-body h2{
        font-size: 17px;
    }

    .gluten-free-body h3{
        font-size: 15px;
    }

    .buttons-outer{
        gap: 20px;
        padding-bottom: 20px;
    }

    .buttons{
        width: 135px;
        height: 135px;
    }

    .buttons:hover{
        background: green;
    }

    .buttons-end{
        padding: 10px;
    }

    .buttons-outer p{
        font-size: 14px;
    }
    
    #community-icon,
    #coeliac-icon,
    #actions-icon,
    #external-icon{
        width: 60px;
        height: 60px;
    }

    .commitment-outer .commitment-container{
        flex-direction: column;
        gap: 15px;

    }

    .commitment-text-outer{
        padding: 0;
    }

    .commitment-text-outer p,
    .commitment-text-outer li,
    .commitment-text-outer a{
        font-size: 14px;
    }
    
    .commitment-text-outer ul{
        padding-left: 20px;
    }

    .coeliac-text,
    .actions-text{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .commitment-image{
        width: 300px;
    }

    #external-links{
        flex-direction: column;
        gap: 10px;
    }
    
    #external-links a:hover{
        background: green;
    }


    /* SUBMITTED PAGE */

    .submitted-text{
        margin-top: 20px;
        padding: 20px;
    }
    
    .submitted-text h2{
        font-size: 17px;
    }

    .submitted-text p{
        font-size: 14px;
    }


    /* --------HOMEPAGE-------- */
    
    .carousel-outer{
        padding: 10px;
        margin-bottom: 73px;
    }

    .carousel-container img{
        height: 280px;
    }

    .carousel-container-narrow{
        display: block;
    }

    .carousel-container-wide{
        display: none;
    }

    .previous-btn,
    .next-btn{
        font-size: 25px;
        padding: 10px;
    }

    .previous-btn:hover,
    .next-btn:hover{
        background: transparent;
    }

    .carousel-text{
        padding: 5px;
        right: 5px;
    }

    .carousel-title{
        font-size: 16px;
    }

    .carousel-body{
        font-size: 14px;
    }

    .circle-outer{
        margin-bottom: 10px;
        width: 70px;
    }

    .circle{
        width: 7px;
        height: 7px;
    }
   

    /* --------DEALS------- */

    #deals-container{
        margin: 20px;
        padding: 10px;
    }

    .deal-product-container{
        padding: 0;
    }

    .deal-product{
        min-height: 250px;
        width: 135px;
        gap: 5px;
        padding: 0 5px;
    }

    .product-price-container,
    .product-text{
        padding: 0;
    }

    .product-name{
        font-size: 15px;
    }

    .product-price-inner{
        font-size: 13px;
    }

    .kilo-price{
        font-size: 13px;
    }

    
}